<body>
    <div class="container">
        <div class="row">
            <div class="col-sm justify-content-center">
                <div class="card">
                    <div class="card-header">
                        <h6>Digite seu email.</h6>
                    </div>
                    <div class="card-body">
                        <form action="/auth/forgot" class="form-group" method="POST">
                            <input type="email" name="email" id="email" class="form-control">
                            <button class="btn btn-primary" type="submit">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>