
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"> Registre </h3>
                </div>
                <div class="card-body">
                    <form method="POST" action="/auth/register/new" class="form-group">
                        <input class="form-control mt-2" type="text" name="name" placeholder="Nome">
                        <input class="form-control mt-2" type="email" name="email" placeholder="email@exemplo.com.br">
                        <input class="form-control mt-2" type="number" name="salary" id="salary" placeholder="Salário">
                        <input class="form-control mt-2" type="password" name="password1" placeholder="Senha">
                        <input class="form-control mt-2" type="password" name="password2" placeholder="Confirme a senha">
                        <button class="btn btn-primary mt-2" type="submit">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>  
</body>
