
<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-8">
                <div class="card">
                    <div class="card-header text-secondary">
                        <h5>
                            Pedir Vale
                        </h5>
                    </div>
                    <div class="card-body">
                        <form class="form-group" method="POST" action="/financeiro/newvale/save">
                            <input class="form-control" type="number" name="value" id="value" step="any" placeholder="Valor do Vale">
                            <input class="form-control mt-2" type="text" name="description" id="description" placeholder="Descrição">
                            <button class="btn btn-success mt-2 btn-block" type="submit">Pedir Vale</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>